@import '/CSS/form.css';
@import '/CSS/button.css';
@import '/CSS/header.css';
@import '/CSS/footer.css';

:root {
 --redYT: #ff0000;
 --face: #1877f2;
 --twit: #1da1f2;
 --shadow: rgb(0, 0, 0);
 --pokecard: #000;
 --bgpokecard: rgb(255, 42, 42);
 --bgstats: rgb(127, 145, 144);
 --background: linear-gradient(90deg, #3e8bff 25%, #fffc5d 80%);
 --font-family: 'Poppins', sans-serif;
}

html {
 scroll-behavior: smooth;
}

body {
 background: var(--background);
 font-family: var(--font-family);
}

.wrapper {
 min-height: calc(100vh - 155px);
}
